<nav class="navbar navbar-expand-lg text-bg-light border-top border-bottom border-danger">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-5">
          <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="me-5">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            AI Trends
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/ai-trends/machine-learning" routerLinkActive="active">Machine Learning</a></li>
            <li><a class="dropdown-item" routerLink="/ai-trends/deep-learning" routerLinkActive="active">Deep Learning</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Gen AI</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/ai-trends/chat-gpt" routerLinkActive="active">Chat GPT</a></li>
                <li><a class="dropdown-item" routerLink="/ai-trends/copilot" routerLinkActive="active">Copilot</a></li>
                <li><a class="dropdown-item" routerLink="/ai-trends/mid-journey" routerLinkActive="active">Mid Journey</a></li>
                <li><a class="dropdown-item" routerLink="/ai-trends/gemini" routerLinkActive="active">Gemini</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item me-5">
          <a routerLink="/registration" routerLinkActive="active" class="nav-link">Registration</a>
        </li>
        <li class="nav-item me-5">
          <a routerLink="/contact-us" routerLinkActive="active" class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item me-5">
          <a routerLink="/sign-up" routerLinkActive="active" class="nav-link">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>